body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightNeutral);
  padding: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

:root {
  /* color palette */
  /* dark neutral */
  --darkNeutral: hsla(185, 22%, 10%, 1);
  /* light neutral */
  --lightNeutral: hsla(42, 70%, 94%, 1);
  /* red: error messages  */
  --red: hsla(7, 64%, 54%, 1);
}

/* app container */
#root {
  /* TODO */
}
